body{
    margin: 24px 8px 24px 8px;
}

main{
    background-color: #eee;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 8px;
}

#title{
    font-size: 2.5em;
}

header p{
    font-size: 1.1em;
}

#img-div{
    background-color: white;
    margin: 0 16px 40px 16px;
    padding-bottom: 10px;
    padding-top: 5px;
    
}

#image{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 15px;
}

#img-caption{
    text-align: center;
}

#tribute-info{

    margin: 0 auto;
    max-width: 35%;
}

#tribute-info h2{
    margin-bottom: 40px;
    font-size: 1.3em;
    text-align: center;
}

#tribute-info li{
    padding-bottom: 20px;
}

ul{
    padding: 0;
    max-width: 100%;
    list-style-position: inside;
}

figure {
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 20px 0 40px 0;
    font-style: italic;
}

figure blockquote{
    text-align: left;
    margin: 0;
}

footer{
    text-align: center;
    padding-bottom: 30px;
    font-weight: bolder;
}